body {
    overflow-x: hidden;
 background-color: slateblue;
}

ul {
    list-style-type: none;
}

#m {
    width: 8rem;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#m:hover {
    background-color: slateblue;
    font-weight: bold;
}